{% extends "_layout.html" %}

{% block title %}

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid" >
    
    <a>Followers {{user.sum_followers}}</a>
    <a>Following {{user.sum_followings}}</a>
    <div>
        <h2 >{{user.username}}</h2>
        <img src="http://sebagram.s3.amazonaws.com/{{user.profile_image}}" class="rounded-circle img-thumbnail border border-primary"  style="object-fit:cover;height:45px; width:45px" alt="45x45">
        {% if user in current_user.followings %}
          <a class='mr-auto' href="{{url_for('users.unfollow', id=user.id)}}">
            <img src="http://sebagram.s3.amazonaws.com/u1F645.0.M.png" class="rounded-circle img-thumbnail  border-primary float-right"  style="object-fit:cover;height:35px; width:auto" alt="45x45">
          </a>
        {% else %}
          <a class='mr-auto' href="{{url_for('users.follow', id=user.id)}}">
            <img src="http://sebagram.s3.amazonaws.com/u1F929.png" class="rounded-circle img-thumbnail  border-primary float-right"  style="object-fit:cover;height:35px; width:auto" alt="45x45">
          </a>
        {% endif %}
    </div>
    <div class="row no-gutter" >
        <div class="pending-requests">
            {% for user in current_user.pending_requests %}
            
                {{user.username}}
                <A href="{{url_for('users.approve', id=user.id)}}">
                <button >Approve</button>
            </A>
            <A href="{{url_for('users.reject', id=user.id)}}">
                <button >Reject</button>
            </A>
            </div>
          {% endfor %}
        
        <div>
        {% for post in user.posts|sort(attribute="created_at",reverse=True) %}
        <div class="card" style="width:400px; margin-right:auto">
            <img class="card-img-top" src="{{post.full_url()}}" alt="{{user}}" />
            <div class="card-body">
                <h4 class="card-tittle">Posted jan 1st 2020</h4>
                <p class="card-text">awesome</p>
                <a href="#" class="btn btn-primary"> see profile</a>

            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
        
       
{% if current_user.is_authenticated %}
    
{% else %}
   
{% endif %}
    
    
{% endblock %}
        
   
    



