{% extends "_layout.html" %}

{% block title %}

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid" >
    
    <a>Followers {{user.sum_followers}}</a>
    <a>Following {{user.sum_followings}}</a>
    <div>
        <h2 >{{user.username}}</h2>
        <img src="http://sebagram.s3.amazonaws.com/{{user.profile_image}}" class="rounded-circle img-thumbnail border border-primary"  style="object-fit:cover;height:45px; width:45px" alt="45x45">
        {% if user in current_user.followings %}
          <a class='mr-auto' href="{{url_for('users.unfollow', id=user.id)}}">
            <img src="http://sebagram.s3.amazonaws.com/u1F645.0.M.png" class="rounded-circle img-thumbnail  border-primary float-right"  style="object-fit:cover;height:35px; width:auto" alt="45x45">
          </a>
        {% else %}
          <a class='mr-auto' href="{{url_for('users.follow', id=user.id)}}">
            <img src="http://sebagram.s3.amazonaws.com/u1F929.png" class="rounded-circle img-thumbnail  border-primary float-right"  style="object-fit:cover;height:35px; width:auto" alt="45x45">
          </a>
        {% endif %}
    </div>
    <div class="row no-gutter" >
        <div class="pending-requests">
            {% for user in current_user.pending_requests %}
            
                {{user.username}}
                <A href="{{url_for('users.approve', id=user.id)}}">
                <button >Approve</button>
            </A>
            <A href="{{url_for('users.reject', id=user.id)}}">
                <button >Reject</button>
            </A>
            </div>
          {% endfor %}
        
        <div>
        {% for post in user.posts %}
        <div class="position-relative">
            <img height="250" src="{{post.full_url()}}" style="margin-top: 15px; background-color: #C6B9CD" />
            
        </div>
        {% endfor %}
    </div>
    </div>
</div>
        
       
{% if current_user.is_authenticated %}
    
{% else %}
   
{% endif %}
    
    
{% endblock %}
        
   
    



