<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}
  {% endblock %}

  <title>
    {% block title %}
    {% endblock %}NEXTAGRAM
  </title>

</head>

<body style="background-color: #D6D3F0;">
  
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:#24727d;">
    <a class="navbar-brand" href="/">Sebagram</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown" > -->
      
      <ul class="navbar-nav ml-auto">
       
        
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('posts.new')}}">
        <img src="http://sebagram.s3.amazonaws.com/u1F933.0.png" class="fixed-top rounded-circle img-thumbnail border border-primary mx-auto mt-2" style="width:130px; border-radius: 3px;" >
        </a>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{current_user.username}}
            <img src="http://sebagram.s3.amazonaws.com/{{current_user.profile_image}}" class="rounded-circle img-thumbnail border border-primary"  style="width:45px" position="fixed' alt="45x45">
            
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#D7263D;">
            <a class="dropdown-item" href="{{ url_for('users.show', username=current_user.username)}}">My Profile</a>
            <a class="dropdown-item" href="{{ url_for('users.edit', id=current_user.id)}}">Edit info</a>
            
            <a class="dropdown-item" href="{{ url_for('sessions.destroy')}}" >Log Out</a>
            <input type="hidden" name="csrf_token" value='{{csrf_token()}}'/>
          
          </div>
        </li>



        {% else %}
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            
            <img src="http://sebagram.s3.amazonaws.com/user.png" class="rounded-circle img-thumbnail border border-primary" style="width:45px" alt="45x45">
            Login
            
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#53af8d;">
            <a class="dropdown-item" href="{{ url_for('sessions.new')}}">Login</a>
            
            <a class="dropdown-item" href="{{ url_for('users.new')}}" >Singup</a>
            
            <input type="hidden" name="csrf_token" value='{{csrf_token()}}'/>
          
          </div>
        </li>
       

        
        
        {% endif %}
        <div class="position-absolute" style="bottom:0%; right:0%; cursor:pointer" >
          <a href="{{url_for('donations.new')}}">
          <img src="http://sebagram.s3.amazonaws.com/donate.png" height="20px" >
          
        </a>
        </div>
      </ul>
    <!-- </div> -->
  </nav>

  <!-- Flash Message Starts-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!-- Flash Message End -->

  <!-- Page Content Starts Here -->
  {% block content %}
  {% endblock %}
  <!-- Page Content Ends Here -->
  
  <footer>
    Made by SebKowski with &hearts; at <a target="_blank"
      href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT
      Academy</a>
  </footer>
</body>


</html>